@model IEnumerable<GoAber.Models.WebServiceAuth>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.authtoken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.appname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.authtoken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expire)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.authtoken }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.authtoken })
        </td>
    </tr>
}

</table>
