@model GoAber.devicetype

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>devicetype</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tokenEndpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tokenEndpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumerKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumerKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consumerSecret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consumerSecret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorizationEndpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorizationEndpoint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDeviceType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
