@model IEnumerable<GoAber.devicetype>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tokenEndpoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consumerKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consumerSecret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authorizationEndpoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tokenEndpoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consumerKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consumerSecret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authorizationEndpoint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDeviceType }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDeviceType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDeviceType })
        </td>
    </tr>
}

</table>
