@model GoAber.Models.DataRemovalAudit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataRemovalAudit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
