@model GoAber.Models.DataRemovalAudit

@{
    ViewBag.Title = Resources.DataRemovalAudit_Details;
}

<h2>@Resources.DataRemovalAudit_Details</h2>

<div>
    <h4>@Resources.DataRemovalAudit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataRemoved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Audit_BackToList, "Index")
</p>
