
<h3>Filter</h3>

@Html.ActionLink("Clear", "Index")

@using (Html.BeginForm("Index", "ApplicationUsers", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    @Html.Label("email", "Email: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.Editor("email", new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessage("email", "", new {@class = "text-danger"})
    </div>

    @Html.Label("nickname", "Nickname: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.Editor("nickname", new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessage("nickname", "", new {@class = "text-danger"})
    </div>

    @Html.Label("teamId", "Team: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.DropDownList("teamId", (IEnumerable<SelectListItem>)ViewBag.TeamId, string.Empty, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessage("teamId", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}