@using GoAber.Services
@model IEnumerable<GoAber.Models.ApplicationUser>

@{
    ViewBag.Title = Resources.Resources.ApplicationUsersController_Index_Title;
}

<h2>@Resources.Resources.ApplicationUsersController_Index_Title</h2>

<p>@Html.ActionLink(Resources.Resources.CreateNew, "Create")</p>

@{Html.RenderPartial("_Filter");}

<h3>Results</h3>

<p class="text-danger">@ViewBag.FailureMessage</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.name)
        </th>
        <th>
            @Resources.Resources.RoleType_Label
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.name)
        </td>
        <td>
            @ApplicationUserService.GetAssignedRoleForApplicationUser(item.Id)
        </td> 
        <td>
            @Html.ActionLink(Resources.Resources.Edit, "Edit", new {id = item.Id}) |
            @Html.ActionLink(Resources.Resources.Details, "Details", new {id = item.Id}) |
            @Html.ActionLink(Resources.Resources.Delete, "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>

@Html.Partial("../Shared/_Pager", Model)
