@model IEnumerable<GoAber.Models.Challenge>

@{
    ViewBag.Title = "Index";
}

    <div>
        @Html.ActionLink(Resources.Challeneges_createCommunityChallenge, "CreateCommunity") | 
        @Html.ActionLink(Resources.Challeneges_createGroupChallenge, "CreateGroup")
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    
    @foreach (GoAber.Models.Challenge item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryUnit.category.name)
                &nbsp;
                @Html.DisplayFor(modelItem => item.categoryUnit.unit.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
