@model IEnumerable<GoAber.Models.Challenge>
    
@{
    ViewBag.Title = Resources.Challenges_enteredGroupChallenges;
}

<h2>@Resources.Challenges_enteredGroupChallenges</h2>

<div>
    @Html.ActionLink(Resources.EnteredCommunityChallengesLink, "EnteredCommunity") |
    @Html.ActionLink(Resources.EnteredGroupChallengesLink, "EnteredGroup")|
    @Html.ActionLink(Resources.UnEnteredCommunityChallengesLink, "UnEnteredCommunity")|
    @Html.ActionLink(Resources.UnEnteredGroupChallengesLink, "UnEnteredGroup")|
    <br />
    @Html.ActionLink(Resources.CompletedCommunityChallengesLink, "CompletedCommunity")|
    @Html.ActionLink(Resources.CompletedGroupChallengesLink, "CompletedGroup")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.groupchallenges)
        </th>
        <th></th>
    </tr>

    @foreach (GoAber.Models.Challenge item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryUnit.category.name)
                &nbsp;
                @Html.DisplayFor(modelItem => item.categoryUnit.unit.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>


            <td>
                @foreach (GoAber.Models.GroupChallenge gItem in item.groupchallenges)
                {
                    @Html.DisplayFor(modelItem => gItem.group.name)
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink(Resources.Challenges_LeaveChallenge, "LeaveChallenge", new { id = item.Id })
                <br />
                @Html.ActionLink(Resources.Challenges_viewLeaderBoard, "ViewGroupLeaderBoard", new { id = item.Id })
            </td>
        </tr>
    }
</table>
