    
@{
    ViewBag.Title = Resources.Challenges_indexTitle;
}

<h2>@Resources.Challenges_indexTitle</h2>
<div>
    @Html.ActionLink(Resources.EnteredCommunityChallengesLink, "EnteredCommunity")
    <br />
    @Html.ActionLink(Resources.EnteredGroupChallengesLink, "EnteredGroup")
    <br />
    @Html.ActionLink(Resources.UnEnteredCommunityChallengesLink, "UnEnteredCommunity")
    <br />
    @Html.ActionLink(Resources.UnEnteredGroupChallengesLink, "UnEnteredGroup")
    <br />
    <br />
    @Html.ActionLink(Resources.CompletedCommunityChallengesLink, "CompletedCommunity")
    <br />
    @Html.ActionLink(Resources.CompletedGroupChallengesLink, "CompletedGroup")
    <br />

</div>

<div>
    <br />
    
    @Html.ActionLink(Resources.CoordinatorChallengesLink, "AllChallenges")
    

</div>