@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(Resources.ActivityData)</h1>

<ul class="nav nav-tabs">
    <li role="presentation" class="@(ViewContext.RouteData.Values["Action"].ToString() == "WeeklySummary" ? "active" : "")">@Html.ActionLink(Resources.WeeklySummary, "WeeklySummary", "ActivityDatas", new { area = "" }, null)</li>
    <li role="presentation" class="@(ViewContext.RouteData.Values["Action"].ToString() == "MonthlySummary" ? "active" : "")">@Html.ActionLink(Resources.MonthlySummary, "MonthlySummary", "ActivityDatas", new { area = "" }, null)</li>
</ul>

@RenderBody()