@using GoAber.Helpers;
@model IEnumerable<GoAber.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = Resources.AllTimeSummary;
    Layout = "~/Views/ActivityDatas/_ActivityDataLayout.cshtml";
}

<h2>@Resources.AllTimeSummary</h2>

@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/Charts.js")

@foreach (var category in Model)
{
    <h3>@Html.Raw(Html.ConvertResource(Resources.AD_UnitSummary, category.name))</h3>

        <div class="well data-summary">
            @foreach (var unit in category.units)
            {
                <h4>@Html.Raw(Html.ConvertResource(Resources.AD_UnitSummary, unit.name))</h4>
                <ul>
                    @Html.Raw(Html.ConvertResource(Resources.AD_AllTimeSummaryStatistics, unit.name))
                </ul>
                <script type="text/javascript">
                $(function () {
                    initiliseAjax();
                    requestData("@(Url.Action("AllTimeStatistics", "ActivityDatasAPI"))", { "unit": "@(unit.name)" }, function (data) {
                        setSummaryValues(data, "@(unit.name)", "MMMM Do YYYY");
                    });
                });
                </script>

            }
        </div>
}

