@model IEnumerable<GoAber.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "All Time Summary";
    Layout = "~/Views/ActivityDatas/_ActivityDataLayout.cshtml";
}

<h2>All Time Summary</h2>

@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/Charts.js")

@foreach (var category in Model)
{
    <h3>@(category.name) Summary</h3>


        <div class="well data-summary">
            @foreach (var unit in category.units)
            {
                <h4>@(unit) Summary</h4>
                <ul>
                    <li>Total number of @(unit): <span class="statistic" id="@(unit)-total"></span></li>
                    <li>Your best day was <span class="statistic" id="@(unit)-max-date"></span> with <span class="statistic" id="@(unit)-max-value"></span> @(unit).</li>
                    <li>Your worst day was <span class="statistic" id="@(unit)-min-date"></span> with <span class="statistic" id="@(unit)-min-value"></span> @(unit).</li>
                </ul>
                <script type="text/javascript">
                $(function () {
                    initiliseAjax();
                    requestData("@(Url.Action("AllTimeStatistics", "ActivityDatasAPI"))", { "unit": "@(unit)" }, function (data) {
                        setSummaryValues(data, "@(unit)", "MMMM Do YYYY");
                    });
                });
                </script>

            }
        </div>
}

