@model GoAber.ActivityData

@{
    ViewBag.Title = Resources.AD_Details_cshtml_Execute_Details;
}

<h2>Details</h2>

<div>
    <h4>ActivityData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryunit.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryunit.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.AD_Details_cshtml_Execute_Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.AD_Details_cshtml_Execute_Back_to_List, "Index")
</p>
