@model IEnumerable<GoAber.Models.ActivityData>

@{
    ViewBag.Title = Resources.AD_Index_cshtml_Execute_Index;
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Resources.AD_Index_cshtml_Execute_Create_New, "Create")
</p>

<h3>Summary of Total Steps</h3>
<div class="chart">
    <div class="ajax-loading"><img src="~/Images/ajax-loader.gif" /></div>
    <div id="chart-container"></div>
</div>


@Scripts.Render("~/Scripts/Charts.js")
<script type="text/javascript">
    $(function () {
        initiliseAjax();
        requestData("@(Url.Action("WeeklySummary", "API"))", { "unit": "Steps"}, function (data) {
            createBarChart(data, "#chart-container");
        });
    });
</script>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoryunit.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryunit.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink(Resources.AD_Index_cshtml_Execute_Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(Resources.AD_Index_cshtml_Execute_Details, "Details", new { id=item.Id }) |
            @Html.ActionLink(Resources.AD_Index_cshtml_Execute_Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
