@using GoAber.Models.ViewModels;
@model ActivityDataListViewModel

@{
    ViewBag.Title = "Manage Activity Data";
    Layout = "~/Views/ActivityDatas/_ActivityDataLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@{Html.RenderPartial("_Filter", Model.FilterParams, new ViewDataDictionary { { "Controller", "ActivityDatas" }, { "Action", "Manage" }, { "CategoryUnits", ViewBag.categoryUnits } });}


<div class="btn-group btn-bar" role="group">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</div>

<h3>Results</h3>
@{var dummy = Model.Data.FirstOrDefault(); }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => dummy.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.lastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.date)
        </th>
        <th>
            @Resources.Category
        </th>
        <th>
            @Resources.Unit
        </th>
        <th>
            @Html.DisplayNameFor(model => dummy.User.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Data)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryunit.category.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryunit.unit.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@Html.Partial("_Pager", Model.Data)
