@using GoAber.Helpers;
@model IEnumerable<GoAber.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = Resources.MonthlySummary;
    Layout = "~/Views/ActivityDatas/_ActivityDataLayout.cshtml";
}

<h2>@(Resources.MonthlySummary)</h2>

@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/Charts.js")

@foreach (var category in Model)
{
    <h3>@Html.Raw(Html.ConvertResource(Resources.AD_UnitSummary, category.name))</h3>

    foreach (var unit in category.units)
    {
        <h4>@Html.Raw(Html.ConvertResource(Resources.AD_UnitsPerDaySummary, unit.name))</h4>
        <div class="chart">
            <div class="ajax-loading"><img src="~/Images/ajax-loader.gif" /></div>
            <div id="@(unit.name)-loading-fails"></div>
            <div id="@(unit.name)-chart"></div>
        </div>

        <h4>@Html.Raw(Html.ConvertResource(Resources.AD_UnitSummary, unit.name))</h4>
        <div class="well data-summary">
            <ul>
                @Html.Raw(Html.ConvertResource(Resources.AD_MonthlySummaryStatistics, unit.name))
            </ul>
        </div>

        <script type="text/javascript">
            $(function () {
                initiliseAjax();
                requestData("@(Url.Action("MonthlySummary", "ActivityDatasAPI"))", { "unit": "@(unit.name)"}, function (data) {
                    createBarChartSummary(data, {
                        "tagname": "#@(unit.name)-chart",
                        "rangeType": "month"
                    });
                });

                requestData("@(Url.Action("MonthlyStatistics", "ActivityDatasAPI"))", { "unit": "@(unit.name)" }, function (data) {
                    setSummaryValues(data, "@(unit.name)");
                });
            });
        </script>

    }
}

