@model IEnumerable<GoAber.Models.Result>

@{
    ViewBag.Title = Resources.Results;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.Results</h2>

<table class="table">
    <tr>
        <th>
            @Resources.Category
        </th>
        <th>
            @Resources.Unit
        </th>
        <th>
            @Html.DisplayNameFor(model => model.challengeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.communityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryUnit.category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryUnit.unit.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.challenge.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.community.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
    </tr>
}

</table>
