@model GoAber.categoryunit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>categoryunit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.idCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.idCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit.idUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit.idUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCategoryUnit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
