@model IEnumerable<GoAber.categoryunit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.idCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit.idUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.idCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit.idUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCategoryUnit }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCategoryUnit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCategoryUnit })
        </td>
    </tr>
}

</table>
