@model GoAber.Models.Community

@{
    ViewBag.Title = Resources.Resources.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ViewBag.title</h2>

<h3>@(Resources.Resources.DeleteConfirmation)</h3>
<div>
    <h4>@(Resources.Resources.AdminCommunitiesController_Delete_Title.ToString())</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.challengesEndpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.challengesEndpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.home)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@(Resources.Resources.Delete)} " class="btn btn-default" /> |
            @Html.ActionLink(Resources.Resources.BackToList, "Index")
        </div>
    }
</div>
