
@{
    ViewBag.Title = Resources.Resources.AdminControlPanelTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink(Resources.Resources.ManageActivityData, "Index", "ActivityData")</li>
    <li>@Html.ActionLink(Resources.Resources.ManageCommunities, "Index", "Communities")</li>
    <li>@Html.ActionLink(Resources.Resources.ManageTeams, "Index", "Teams")</li>
    <li>@Html.ActionLink("Users", "Index", "ApplicationUsers")</li>
</ul>

