@model GoAber.Models.WebServiceAuth

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WebServiceAuth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.authtoken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authtoken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expire)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.authtoken }) |
    @Html.ActionLink("Back to List", "Index")
</p>
