@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = Resources.Roles_Index_cshtml_Execute_Index;
}

<h2>Roles Listing </h2>

@Html.ActionLink(Resources.Roles_Index_cshtml_Execute_Create_New_Role, "Create") | @Html.ActionLink(Resources.Roles_Index_cshtml_Execute_Manage_User_Role, "ManageUserRoles")
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a></span> |
            @Html.ActionLink(Resources.Roles_Index_cshtml_Execute_Edit, "Edit", new { roleName = @role.Name })
        </p>
    }
</div>