@model IEnumerable<GoAber.Models.ViewModels.ParticipantLeaderViewModel>

@{
    ViewBag.Title = Resources.LeaderBoards_ParticipantLeaderBoardTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3></h3>

<table class="table">
    <tr>
        <th>
            @Resources.Ranking
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
        </th>
    </tr>

    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink(Resources.ViewUser, "ViewUser", "ActivityDatas", new { id = item.User.Id }, null)
            </td>
        </tr>
    }
</table>

@Html.Partial("_Pager", Model)

