@model GoAber.Models.Audit

@{
    ViewBag.Title = Resources.audit_details;
}

<h2>Details</h2>

<div>
    <h4>Audit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAccessed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlAccessed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestParams)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestParams)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
