@model IEnumerable<GoAber.Models.Audit>

@{
    ViewBag.Title = Resources.audit_title;
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlAccessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestParams)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlAccessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestParams)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AuditId }) 
        </td>
    </tr>
}

</table>
