
<h3>Filter</h3>

@Html.ActionLink("Clear", "Index")

@using (Html.BeginForm("Index", "ActivityData", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    @Html.Label("email", "Email: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.Editor("email", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("email", "", new { @class = "text-danger" })
    </div>

    @Html.Label("idCategoryUnit", "Unit: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.DropDownList("idCategoryUnit", (IEnumerable<SelectListItem>)ViewBag.categoryUnits, string.Empty, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessage("idCategoryUnit", "", new { @class = "text-danger" })
    </div>

    @Html.Label("fromDate", "From: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.TextBox("fromDate", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { type = "date", @class = "form-control" })
        @Html.ValidationMessage("fromDate", "", new { @class = "text-danger" })
    </div>

    @Html.Label("toDate", "Unit: ", htmlAttributes: new { @class = "control-label" })
    <div class="form-group">
        @Html.TextBox("toDate", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { type = "date", @class = "form-control" })
        @Html.ValidationMessage("toDate", "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}