@model GoAber.ActivityData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryunit.category.name)
        </dd>

        <dt>
           Unit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryunit.unit.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
