@model IEnumerable<GoAber.Models.ActivityData>

@{
    ViewBag.Title = "Activity Data";
}

<h2>@ViewBag.Title</h2>

@{Html.RenderPartial("_Filter", new GoAber.Areas.Admin.Models.FilterViewModel());}

<h3>Results</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastUpdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryunit.category.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoryunit.unit.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastUpdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryunit.category.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryunit.unit.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

@Html.Partial("../Shared/_Pager", Model)
